.App {
  text-align: center;
  vertical-align: middle;
  height: 40vw;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.flex-center-vertically {
  
  height: 400px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.menu{
  padding-top: 50px;
}
.winner{
  color: green;
  margin-bottom: 50px;
}